<table>

    <form method="get" action="/quizes">
	<p>Buscar:</p>
        <input type="text" name="search"></input>
	<input type="submit" value="Enviar">
    </form>

<p><%= search %></p>

<% var i; for (i=0; i < Quizes.length; i++) { %>
	<tr>
		<td>Tema: <%= Quizes[i].tema %></td>
		<td><a href="quizes/<%= Quizes[i].id %>"><%= Quizes[i].pregunta %></a></td>
		<td><a href="quizes/<%= Quizes[i].id %>/edit"><button>Editar</button></td>
		<td>
			<form method="post" action="quizes/<%= Quizes[i].id %>?_method=delete">
				<button type="submit" onClick="return confirm('Borrar : <%= Quizes[i].pregunta %>');">Borrar</button>
			</form>
		</td>
	</tr>
<% } %>
</table><p>
<a href="/quizes/new"><button type="button">Crear pregunta</button></a>
