    <form method="get" action="/quizes/<%= question.id %>/answer">
	<p>Pregunta: <%= question.pregunta %></p>
        <input type="text" name="answer"></input>
	<input type="submit" value="Enviar">
    </form>

<p><a href="/quizes/<%= question.id %>/comments/new"><button>Nuevo Comentario</button></a></p>

<p><strong>Comentarios:</stron></p>
<% for(index in question.Comments)  {%>
	<% if(question.Comments[index].publicado || session.user){ %>
		<p>- <%= question.Comments[index].texto %>
		<% if(session.user && !question.Comments[index].publicado){ %>
			<a href="/quizes/"<%= question.id %>/comments/<%= question.Comments[index].id %>/publish">
			<button>publicar</button>
		<% } %>
		</p>
	<% } %>
<% } %>